<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beacom"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="kr.co.study" />

    <bean id="helloDAO" class="kr.co.study.dao.HelloDAO"></bean>
    <bean id="helloService" class="kr.co.study.service.HelloService">
        <property name="dao" ref="helloDAO"></property>
        <property name="anotherDAO" ref="anotherDAO"></property>
    </bean>
    <bean id="anotherDAO" class="kr.co.study.dao.AnotherDAO"></bean>

</beans>